$color-laurel-green-base: #a4b494;
$color-white-text: #fff;
$color-brownred-text: #c7706d;
$color-blue-text: #6d97c7;
$color-purple-text: #706dc7;
$color-slimy-green: #2e972e;


$color-background-base: #313437;
$color-background-timers: #383b3f;
$color-background-base: #313437;
$color-digit-text: #edeff2;
$color-start-button: #8abb00;
