html, body{
  height: 100%;
  margin: 0;
}
#wrapper {
  min-height: 100%;
  padding: 50px 0;
  background: linear-gradient(45deg, #E0E2E5, #919397);
}
.main-center {
  min-width: 320px;
  padding: 20px;
  background: linear-gradient(180deg, #8e9095, #2A2B2D);
  color: #fff;
  border: 1px solid #BFBFBF;
  border-radius: 25px;
  box-shadow: 3px 3px 0px rgba(0, 43, 56, 0.3);
}
.adj-times {
  margin: 25px 15px;
  font-size: 2.5em;
}
#lable {
  border-radius: 25px;
  border-style: groove;
  margin: 15px;
  background: #6d6f74;
  padding: 2px;
}
#current-time {
  margin: 15px;
  background: #4d4d4d;
  box-shadow: 1px 1px 5px #333333 inset;
  padding: 2px;
  font-size: 2.5em;
}
#progress {
  margin: auto;
}
.small-time-box {
  box-shadow: 1px 1px 5px #333333 inset;
  background: #4d4d4d;
  padding: 5px;
}
#start {
  margin-top: 100px;
}
.adj-button {
  margin: 10px;
  border-radius: 15px;
  background: linear-gradient(180deg, #88BA00, #539000);
  padding: 10px;
  font-size: 2.5em;
  border-style: groove;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  border-style: groove;
}
.button-plus {
  color: #fff;
  background-color: #4CAF50;
}
.button-minus {
  color: #fff;
  background-color: #d71919;
}
.button-minus:hover {
  background-color: #b71515;
}

.button-plus:hover {
  background-color: #3e8e41
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media only screen and (max-width: 700px) {
  .button {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;

    }
    .adj-times {
      margin: 25px 0px;
      font-size: 1em;
    }
}
